@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@media (max-width: 1000px) {
    body header p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        
    } #mobileSession {
        flex-direction: column;
    }  #remove {
        display: none;
    }  aside {
        display: none;
    } p {
        font-size: 21px;
        text-decoration: rgb(199, 195, 195);
        font-weight:500;
    } .removeAtracao {
        display: none;;
    }
}

.blackB {
    background-color: #000000;
}



body{
   display: flex;
    font-family: 'Questrial', sans-serif;
    flex-direction: column;
    justify-content: center;
    
}

.foot {
    text-decoration: none;
    color: #fff8f8;
}

.foot:hover {
    transition: 0.9s;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}


.hover:hover {
    transition: 01.0s;
    background-color:#C2185B;
    border: 0cm;
    border-radius:  10px;
    padding-left: 25px;
    padding-right: 25px;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: rgb(0, 0, 0);
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer {
    background-color: #000000;
    text-decoration: #ffffff;
    
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}