@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@media (max-width: 1000px) {
    body header p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        
    } #mobileSession {
        flex-direction: column;
    }  #remove {
        display: none;
    }  aside {
        display: none;
    } p {
        font-size: 21px;
        text-decoration: black;
        font-weight: bold;
    }
}



body{
   display: flex;
    font-family: 'Questrial', sans-serif;
    flex-direction: column;
    justify-content: center;
}

.foot {
    text-decoration: none;
    color: #000000;
}

.foot:hover {
    transition: 0.9s;
    color: #ffffff;
    background-color: #000000;
    padding: 4px;
    border-radius: 10px;
}

button:hover {
    transition: 00.9s;
    background-color: rgba(73, 71, 71, 0.308);
    border-radius:  20px;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}